<footer class="footer py-0.5 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; Shopping-Cart 2022</p>
    </div>
</footer>